<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quick draw game 3rd page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <section class="services-container" style="height:700px ;"  >

        <h1 class="h-primary center" style="text-align: center;color: white">
            Quick Draw Game
        </h1>
        <!-- main container -->

        <div id="services" style=" display: flex; flex-direction:row; height: 600px" >
            
            <!-- left section -->

            <div class="box" style=" width: 25%; margin: 20px 20px 20px 20px">
                <a id="back"style="font-size: 20px; border-radius: 5px" routerLink='/home'>←back</a>
                <h2 class="btn1"style="background-color:transparent">Let's Play!</h2>
                <div class="btn1"style="background-color:transparent; text-align: left; padding-bottom: 50px">→ Draw on the canvas one of the below 10 given objects and the model will be able to correctly predict the object you had drawn.</div>
                <div style="padding-bottom: 30px;">    
                    <a class="btn1" style= "text-align: center; background-color: purple">Sun</a>
                    <a class="btn1" style= "text-align: center; background-color: purple">Flower</a>
                    <a class="btn1" style= "text-align: center; background-color: purple">Pencil</a>
                    <a class="btn1" style= "text-align: center; background-color: purple">Umbrella</a>
                    <a class="btn1" style= "text-align: center; background-color: purple">House</a>
                    <a class="btn1" style= "text-align: center; background-color: purple">Spoon</a> 
                    <a class="btn1" style= "text-align: center; background-color: purple">Tree</a>
                    <a class="btn1" style= "text-align: center; background-color: purple">Bird</a>
                    <a class="btn1" style= "text-align: center; background-color: purple">Hand</a>
                    <a class="btn1" style= "text-align: center; background-color: purple">Mug</a> 
                </div>
            </div>

            <!-- mid section -->

            <div class="box" style="background-color: rgb(224, 177, 145); width: 40%; margin: 20px 20px 20px 20px">

                <div style="margin: 20px 20px 20px 20px; height: 500px; background-color: white; text-align: center">
                    <h2 class="h-secondary center">Draw inside this canvas</h2>
                    <canvas #canvasres width="384"height="384"></canvas>
                </div>

            </div>

            <!-- right section -->

            <div class="box" style="width: 25%; margin: 20px 20px 20px 20px; text-align: center">
                
                <div style="margin-top: 250px;">

                    <a class="btn"style="background-color: yellowgreen" (click)="Save()">Predict the object drawn</a>
                    <a class="btn" style="background-color:rgb(247, 45, 45)" (click)="clr()">Clear canvas</a>

                </div>

            </div>
        </div>
        <h2 style="text-align: center; color: white">{{result}}</h2>
    </section>
    
</body>
</html>
